__pycache__/
*.py[cod]
*$py.class
*.egg-info
# C extensions
*.so
*.dylib
*.dll

# tests

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# mypy
.mypy_cache/

# logs / text files
*.txt
*.log

# sublime-specific files
*.sublime-project
*.sublime-workspace
